@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');





* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif; 
    letter-spacing: 1px;
}

.container {
    margin: 56px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    text-align: center;
    background-image: url(./affinity_street_romain_trystram_01.webp);
    border-radius: 4px;

    background-size:auto ;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .9);
}


.main-logo {
   color: white;
   text-shadow: .5px 1px 1px whitesmoke;

}

.nav {
    overflow: hidden;
}

.nav ul li {
    display: inline-block;
    list-style: none;
}

.nav ul li a {
    color: rgba(233, 233, 233, .8);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 14px 9px;
    transition: 300ms ease;
}

.nav ul li a:hover {
    color: #fffdfd;
    text-shadow: .5px 1px 1px rgba(163, 74, 74, 0.75);
    transition-delay: 45ms;
}

.content-section {

}


.main-article {
   
}

.article-header {

}

.article-section {
    background-image: url(./affinity_street_romain_trystram_02.webp);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .9);    border-radius: 1.5px;
    border-radius: 4px;
    color: white;
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 15px; 
    transition: 300ms ease;

}

.article-section:hover {
    text-shadow: .3px .3px .4px rgba(255, 255, 255, .9);

}

/* Clear floats after the columns */
/* .side-content:after {
    content: "";
    display: table;
    clear: both;
  } */
  

.side-content {
    width: 65%;
    position: relative;
    float: right;
    
}

.side-section { 
    background: linear-gradient(to left, rgb(7, 7, 7), rgb(27, 27, 27));
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .9);    text-shadow: .3px .3px .4px rgba(0, 0, 0, 1);
    color: rgb(226, 226, 226);
    padding: 24px;  
    
}

.side-section p {
    transition: 300ms ease;
}

.side-section p:hover {
    text-shadow: .3px .3px .4px rgb(255, 255, 255);
    transition-delay: 110ms;

}

.side-section p:hover {
    opacity: .2;
    transition-delay: 110ms;

}


.form-container {
    background: linear-gradient(to left, rgb(7, 7, 7), rgb(27, 27, 27));
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .9);    border-radius: 6px;
    color: white;
    padding: 12px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

.form {
    text-align: center;
    padding: 9px;
}

input {
    width: 400px;
    margin: 9px;
    border-style: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    color: white;
    
}

input[type="text"] {
    padding: 14px;
    
}

input[type="password"] 
{
    padding: 14px;
}

input[type="tel"] {
    padding: 14px;
    border-bottom: 1px solid whitesmoke;
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgb(236, 44, 76);

}

.file
{
    border-bottom: none;
}

textarea {
    background: linear-gradient(to left, rgb(7, 7, 7), rgb(14, 14, 14));
    border-radius: 6px;
    padding: 6px;
    color: white;
    border: none;
    margin: 12px;
    width: 400px;
    height: 20vh;
}

textarea:focus {
    outline:1px solid rgb(236, 44, 76);
    outline-style: inset ;
}

.button {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(235, 235, 235));
    border: none;
    padding: 15px;
    width: 400px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .75);
    font-size: 18px;
    transition: 300ms ease;
}

.button:hover {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .9);
    margin-top: 1px;
}


/* input[type="file"] {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(235, 235, 235));
    border: none;
    padding: 13px;
    width: 350px;
    border-radius: 4px;
} */


.main-footer {
    clear: both;
} 

#logo {
    text-align: center;
}

#logo:hover {
    text-decoration: underline;
}

.logo {

}





@media all and (max-width:670px){

    .nav{
        display: none;
    }

    #article-section {
        display: none;
    }

    .side-content {
        width: 100%;
    }

    .form {
        width: 450px;
    }

    .form-container {
        width: 450px;
    }

    input {
        width: 300px;
    }

    hr {
        width: 200px;
    }

    .button {

            width: 300px;
    }

    textarea {
        width: 300px;
    }
}